@tailwind base;
@tailwind components;
@tailwind utilities;

.feature-container {
  background-color: rgba(8, 4, 4, 0.502);
  border-radius: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.feature-container:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.clean-button {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.clean-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.feature-container:hover .feature-title {
  color: orange; /* Changes the title color on hover */
}

.transparent-nav {
  background-color: rgba(0, 0, 0, 0.1); /* 10% opacity black */
}

.glassy-nav {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5); /* Adjust opacity as needed */
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0; /* Start from the left edge */
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full width */
  background: white;
  transform: translateX(-100%); /* Hide off-screen initially */
  transition: transform 0.3s ease-in-out;
  z-index: 60; /* Ensure it's above other elements */
}

.mobile-menu.open {
  transform: translateX(0); /* Slide in */
}
